/* ====================
        VARIABLES
 ==================== */
:root {
}
/* ====================
        GENERAL
 ==================== */
body {
  
}

.drawer {
  display: flex;
  justify-content: flex-end;
}

.drawerHeader {
  width: 81%;
}

.header {
  display: flex;
  justify-content: space-around;
}

.search {
  border-radius: 5px;
  background: white;
}
